<div class="container">
  <app-breadcrumb></app-breadcrumb>
  <ng-container *ngIf="!isInserting && !isUpdating">
    <div class="data-container">

    </div>
  </ng-container>

  <ng-container *ngIf="isInserting || isUpdating">
    <form class="data-container" [formGroup]="form">
      <div class="data-container-header">
        <div>{{"Resumen de la posición"|translate}}</div>
        <button mat-raised-button class="signInButton"   (click)="toggleEditMode()">{{ editMode ? 'Guardar' : "Editar" |translate }}</button>
      </div>

      <div class="data-container-body">

        <div class="data-container-select">
          <p>{{"Proyecto"|translate}}</p>
          <mat-form-field class="formField" appearance="outline">
            <mat-select formControlName="project">
              <mat-option *ngFor="let project of lookUpService.projects" [value]="project">
                {{project.name|translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="data-container-select">
          <p>{{"Area"|translate}}</p>
          <mat-form-field class="formField" appearance="outline">
            <mat-select formControlName="area">
              <mat-option *ngFor="let area of lookUpService.areas" [value]="area">
                {{area.name|translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="data-container-select">
          <p>{{"Rol"|translate}}</p>
          <mat-form-field class="formField" appearance="outline">
            <mat-select formControlName="rol">
              <mat-option *ngFor="let rol of lookUpService.roles" [value]="rol">
                {{rol.name|translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="data-container-select">
          <p>{{"SubRol"|translate}}</p>
          <mat-form-field class="formField" appearance="outline">
            <mat-select formControlName="subRol">
              <mat-option *ngFor="let subRol of lookUpService.subRoles" [value]="subRol">
                {{subRol.name|translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="data-container-select">
          <p>{{"Localization"|translate}}</p>
          <mat-form-field class="formField" appearance="outline">
            <mat-select formControlName="localization">
              <mat-option *ngFor="let localization of lookUpService.localizations" [value]="localization">
                {{localization.name|translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="data-container-select">
          <p>{{"Estado"|translate}}</p>
          <mat-form-field class="formField" appearance="outline">
            <mat-select formControlName="status">
              <mat-option *ngFor="let status of lookUpService.positionStatus" [value]="status">
                {{status.name|translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="data-container-integer">
          <p>{{"Vacantes"|translate}}</p>
          <mat-form-field class="formField" appearance="outline">
            <input matInput type="number" formControlName="vacancies">
          </mat-form-field>
        </div>

        <div class="data-container-dates">
          <p>{{"Dia de apertura y cierre"|translate}}</p>
          <div>
            <mat-form-field>
              <input matInput [matDatepicker]="startDatePicker" formControlName="creationDate">
              <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
            <mat-icon>arrow_forward</mat-icon>
            <mat-form-field>
              <input matInput [matDatepicker]="endDatePicker" formControlName="closingDate">
              <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="data-container-description">
          <p>{{"Descripcion"|translate}}</p>
          <mat-form-field class="formField" appearance="outline">
            <input matInput type="text" formControlName="description">
          </mat-form-field>
        </div>
      </div>
    </form>
  </ng-container>

  <ng-container *ngIf="isInserting">
    <div class="table-container">
      <app-overlay-spinner [show]="false"></app-overlay-spinner>
      <app-candidate-table></app-candidate-table>
    </div>
  </ng-container>

  <ng-container *ngIf="!isInserting">
    <div class="table-container">
      <app-overlay-spinner [show]="false"></app-overlay-spinner>
      <app-application-table></app-application-table>
    </div>
  </ng-container>

</div>
