<app-breadcrumb></app-breadcrumb>
<!-- <h1>{{'position_info_save' | translate}}</h1> -->
<div class="formulario">

    <div class="titleForm">
        <h2 style="font-weight: bold;">{{ 'position_info_formTitle' | translate }}</h2>
        <button mat-raised-button color="primary" (click)="isEditing ? guardar() : startEditing()"
            style="background-color: rgba(24,144,255,255)">
            {{ isEditing ? ('position_info_save' | translate ) : ('position_info_edit' | translate ) }}
        </button>
    </div>

    <div class="primeraFila">
        <!-- class="example-full-width" appearance="fill" -->
        <mat-form-field>
            <mat-label>{{'position_info_formProject' | translate}}</mat-label>
            <mat-select style="margin: 5px;" [disabled]="!isEditing">
                <mat-option value="option">Hola</mat-option>
                <mat-option value="option">Mundo</mat-option>
                <mat-option value="option">Que tal</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{'position_info_formArea' | translate}}</mat-label>
            <mat-select style="margin: 5px;" [disabled]="!isEditing">
                <mat-option value="option">Hola</mat-option>
                <mat-option value="option">Mundo</mat-option>
                <mat-option value="option">Que tal</mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <div class="segundaFila">
        <!-- preguntar a juanmi donde se encuentra este campo en el modelo  -->
        <mat-form-field>
            <mat-label>{{'position_info_formOpeningReason' | translate}}</mat-label>
            <input style="margin: 5px;" matInput placeholder=". . ." [disabled]="!isEditing">
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{'position_info_formLocation' | translate}}</mat-label>
            <mat-select style="margin: 5px;" [disabled]="!isEditing">
                <mat-option value="option">Hola</mat-option>
                <mat-option value="option">Mundo</mat-option>
                <mat-option value="option">Que tal</mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <div class="terceraFila">
        <!-- preguntar a juanmi sobre como quiere que se controle el campo numerico  -->
        <mat-form-field>
            <mat-label>{{'position_info_VacancyNumbers' | translate}}</mat-label>
            <input style="margin: 5px;" matInput placeholder=". . ." [disabled]="!isEditing" inputmode="numeric"
                pattern="[0-9]*">
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ 'position_info_OpeningAndClosingDay' | translate }}</mat-label>
            <input matInput style="margin: 5px;" [matDatepicker]="picker" [disabled]="!isEditing">
            <mat-datepicker-toggle matSuffix [for]="picker" style="font-size: 24px;"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>


        <mat-form-field>
            <mat-label>{{'position_info_State' | translate}}</mat-label>
            <mat-select style="margin: 5px;" [disabled]="!isEditing">
                <mat-option value="option">Hola</mat-option>
                <mat-option value="option">Mundo</mat-option>
                <mat-option value="option">Que tal</mat-option>
            </mat-select>
        </mat-form-field>

    </div>

</div>