.overlay {
  position: absolute;
  display: flex;
  z-index: 1002;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

mat-spinner{
  circle{
    width: 10px !important;
  }
}
