@font-face {
  font-family: 'NeueHaasUnicaProRegular';
  src: url('../assets/fonts/NeueHaasUnicaPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'NeueHaasUnicaProMedium';
  src: url('../assets/fonts/NeueHaasUnicaPro-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'NeueHaasUnicaProLight';
  src: url('../assets/fonts/NeueHaasUnicaPro-Light.otf') format('opentype');
}

@font-face {
  font-family: 'NeueHaasUnicaProBold';
  src: url('../assets/fonts/NeueHaasUnicaPro-Bold.otf') format('opentype');
}

//Titulos, Headers etc
@font-face {
  font-family: 'ProtaStandard';
  src: url('../assets/fonts/Prota_Standard_Font.ttf') format('opentype');
}
