<div class="container">
  <div class="search-bar">

    <h4>{{"application_table_searchByPrefix"|translate}} {{filterNameHint|translate}}</h4>
    <mat-form-field>
      <mat-label>{{"application_table_searchHint"|translate}}</mat-label>
      <input type="text" matInput placeholder="{{'application_table_searchHint'|translate}}"
        (keyup)="applyFilter($event)">

    </mat-form-field>

    <div class="spacer"></div>


    <button mat-stroked-button color="primary">{{"application_table_reset"|translate}}</button>
    <button mat-raised-button color="primary">{{"application_table_searchHint"|translate}}</button>

    <button mat-icon-button [matMenuTriggerFor]="filter">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #filter>
      <button (click)="toggleFilterSelection(column);$event.stopPropagation()" mat-menu-item
        *ngFor="let column of filterColums">
        <mat-checkbox disabled [checked]="filterSelection.isSelected(column)"></mat-checkbox>
        {{ 'application_field_' + column | translate }}
      </button>
    </mat-menu>
  </div>

  <div class="table">
    <div class="tableHeader">

     <!--  <h4>{{"application_table_showHelpText"|translate}}</h4>
      <button mat-stroked-button color="primary">{{"application_table_openApplication"|translate}}</button>
      <button mat-stroked-button color="primary">{{"application_table_closedApplication"|translate}}</button> -->

      <div class="spacer"></div>

      <button mat-raised-button color="primary" (click)="addApplication()">+
        {{"application_table_addApplication"|translate}}</button>
      <button mat-icon-button><mat-icon>refresh</mat-icon></button>
      <button mat-icon-button [matMenuTriggerFor]="fieldsVisibility">
        <mat-icon>visibility</mat-icon>
      </button>
      <mat-menu #fieldsVisibility>

        <button mat-menu-item *ngFor="let column of availableColumns"
          (click)="toggleColumn(column);$event.stopPropagation()">
          <mat-checkbox disabled [checked]="isColumnVisible(column)"></mat-checkbox>
          {{ 'application_field_' + column | translate }}
        </button>
      </mat-menu>
    </div>
    <mat-table matSort [dataSource]="dataSource">
      <ng-container matColumnDef="select">

        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? toggleRowSelection(row) : null;"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="id">

        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"application_field_id"|translate}}</th>

        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <ng-container matColumnDef="candidate">

        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"application_field_candidate"|translate}}</th>

        <td mat-cell *matCellDef="let row">{{row.candidate.name}}</td>
      </ng-container>

      <ng-container matColumnDef="position">

        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"application_field_position"|translate}}</th>

        <td mat-cell *matCellDef="let row">{{row.position.id}}</td>
      </ng-container>

      <ng-container matColumnDef="status">

        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"application_field_status"|translate}}</th>

        <td mat-cell *matCellDef="let row">{{row.status.name}}</td>
      </ng-container>

      <ng-container matColumnDef="rejectionReason">

        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"application_field_rejectionReason"|translate}}</th>

        <td mat-cell *matCellDef="let row">{{row.rejectionReason}}</td>
      </ng-container>

      <ng-container matColumnDef="description">

        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"application_field_description"|translate}}</th>

        <td mat-cell *matCellDef="let row">{{row.description}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>

      <tr mat-row (click)="navigateToApplication(row)" *matRowDef="let row; columns: displayedColumns"></tr>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5,10,25,100]"></mat-paginator>
  </div>
</div>
