<div class="container">
  <div class="search-bar">

    <h4>{{"position_table_searchByPrefix"|translate}} {{filterNameHint|translate}}</h4>
    <mat-form-field>
      <mat-label>{{"position_table_searchHint"|translate}}</mat-label>
      <input type="text" matInput placeholder="{{'position_table_searchHint'|translate}}" (keyup)="applyFilter($event)">

    </mat-form-field>

    <div class="spacer"></div>


    <button mat-stroked-button color="primary">{{"position_table_reset"|translate}}</button>
    <button mat-raised-button color="primary">{{"position_table_searchHint"|translate}}</button>

    <button mat-icon-button [matMenuTriggerFor]="filter">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #filter>
      <button (click)="toggleFilterSelection(column);$event.stopPropagation()" mat-menu-item
        *ngFor="let column of filterColums">
        <mat-checkbox disabled [checked]="filterSelection.isSelected(column)"></mat-checkbox>

        {{ 'position_field_' + column | translate }}
      </button>
    </mat-menu>
  </div>

  <div class="table">
    <div class="tableHeader">

     <!--  <h4>{{"position_table_showHelpText"|translate}}</h4>
      <button mat-stroked-button color="primary">{{"position_table_openPositions"|translate}}</button>
      <button mat-stroked-button color="primary">{{"position_table_closedPositions"|translate}}</button> -->

      <div class="spacer"></div>

      <button mat-raised-button color="primary" (click)="addPosition()">+
        {{"position_table_addPosition"|translate}}</button>
      <button mat-icon-button><mat-icon>refresh</mat-icon></button>
      <button mat-icon-button [matMenuTriggerFor]="fieldsVisibility">
        <mat-icon>visibility</mat-icon>
      </button>
      <mat-menu #fieldsVisibility>

        <button mat-menu-item *ngFor="let column of availableColumns"
          (click)="toggleColumn(column);$event.stopPropagation()">
          <mat-checkbox disabled [checked]="isColumnVisible(column)"></mat-checkbox>
          {{ 'position_field_' + column | translate }}
        </button>
      </mat-menu>
    </div>
    <mat-table matSort [dataSource]="dataSource">
      <ng-container matColumnDef="select">

        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? toggleRowSelection(row) : null;"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="id">

        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"position_field_id"|translate}}</th>

        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <ng-container matColumnDef="project">

        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"position_field_project"|translate}}</th>

        <td mat-cell *matCellDef="let row">{{row.project.name}}</td>
      </ng-container>

      <ng-container matColumnDef="status">

        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"position_field_status"|translate}}</th>

        <td mat-cell *matCellDef="let row">{{row.status.name}}</td>
      </ng-container>

      <ng-container matColumnDef="area">

        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"position_field_area"|translate}}</th>

        <td mat-cell *matCellDef="let row">{{row.area.name}}</td>
      </ng-container>

      <ng-container matColumnDef="rol">

        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"position_field_rol"|translate}}</th>

        <td mat-cell *matCellDef="let row">{{row.rol.name}}</td>
      </ng-container>

      <ng-container matColumnDef="subRol">

        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"position_field_subRol"|translate}}</th>

        <td mat-cell *matCellDef="let row">{{row.subRol.name}}</td>
      </ng-container>

      <ng-container matColumnDef="localization">

        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"position_field_localization"|translate}}</th>

        <td mat-cell *matCellDef="let row">{{row.localization.name}}</td>
      </ng-container>

      <ng-container matColumnDef="description">

        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"position_field_description"|translate}}</th>

        <td mat-cell *matCellDef="let row">{{row.description}}</td>
      </ng-container>

      <ng-container matColumnDef="vacancies">

        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"position_field_vacancies"|translate}}</th>

        <td mat-cell *matCellDef="let row">{{row.vacancies}}</td>
      </ng-container>

      <ng-container matColumnDef="creationDate">

        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"position_field_creationDate"|translate}}</th>

        <td mat-cell *matCellDef="let row">{{row.creationDate|date:'dd/MM/yyyy'}}</td>
      </ng-container>

      <ng-container matColumnDef="closingDate">

        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"position_field_closingDate"|translate}}</th>

        <td mat-cell *matCellDef="let row">{{row.closingDate|date:'dd/MM/yyyy'}}</td>
      </ng-container>

      <ng-container matColumnDef="lastUpdate">

        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"position_field_lastUpdate"|translate}}</th>
        <td mat-cell *matCellDef="let row">{{row.lastUpdate|date:'dd/MM/yyyy'}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>

      <tr mat-row (click)="navigateToPosition(row)" *matRowDef="let row; columns: displayedColumns"></tr>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5,10,25,100]"></mat-paginator>
  </div>
</div>
