<div class="parent">
  <div class="top">
    <button mat-icon-button>
      <mat-icon>language</mat-icon>
    </button>
  </div>

  <div class="center">
    <img src="assets/images/IG_Logo_2022.png" class="companyLogo">
    <form>
      <mat-form-field class="formField" appearance="outline">
        <mat-icon matPrefix>sentiment_very_satisfied</mat-icon>
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder" type="email">
        <mat-hint>Hint</mat-hint>
      </mat-form-field>

      <mat-form-field class="formField" appearance="outline">
        <mat-icon matPrefix>sentiment_very_satisfied</mat-icon>
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder" type="email">
        <mat-hint>Hint</mat-hint>
      </mat-form-field>

      <div class="buttonAlignment"><button mat-raised-button class="signInButton">{{"login_SignIn_Button"|translate}}</button></div>
    </form>
  </div>
</div>
