<div class="container">
    <app-breadcrumb></app-breadcrumb>
    <ng-container *ngIf="!isInserting && !isUpdating">
      <div class="data-container">
        <div class="data-container-header">
          <div>{{"application_info_formTitle"|translate}}</div>
          <div style="margin-left: auto"></div>
          <button (click)="deleteAction()" mat-raised-button class="cancelButton" type="button">{{"application_info_delete"|translate}}</button>
          <button (click)="editAction()" mat-raised-button class="signInButton"
            type="button">{{"application_info_edit"|translate}}</button>
        </div>

        <div class="data-container-body">
          <div class="data-container-select">
            <p>{{"application_field_status"|translate}}</p>
            <p>{{this.application.status?.name}}</p>
          </div>

          <div class="data-container-description">
            <p>{{"application_field_description"|translate}}</p>
            <p>{{this.application.description}}</p>
          </div>

          <div class="data-container-description">
            <p>{{"application_field_rejectionReason"|translate}}</p>
            <p>{{this.application.rejectionReason}}</p>
          </div>


        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="isInserting || isUpdating">
      <form class="data-container" [formGroup]="form">
        <div class="data-container-header">

          <div>{{"application_info_formTitle"|translate}}</div>
          <div style="margin-left: auto"></div>
          <button (click)="cancelAction()" mat-raised-button class="cancelButton" type="button">{{"application_info_cancel"|translate}}</button>
          <button (click)="insertAction()" mat-raised-button class="signInButton"
            type="button">{{"application_info_save"|translate}}</button>

        </div>

        <div class="data-container-body">

          <div class="data-container-select">
            <p>{{"application_field_status"|translate}}</p>
            <mat-form-field class="formField" appearance="outline">
              <mat-select formControlName="status" [compareWith]="compareId">
                <mat-option *ngFor="let status of lookUpService.applicationStatus" [value]="status">
                  {{status.name|translate}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="data-container-description">
            <p>{{"application_field_description"|translate}}</p>
            <mat-form-field class="formField" appearance="outline">
              <input matInput type="text" formControlName="description">
            </mat-form-field>
          </div>

          <div class="data-container-description">
            <p>{{"application_field_rejectionReason"|translate}}</p>
            <mat-form-field class="formField" appearance="outline">
              <input matInput type="text" formControlName="rejectionReason">
            </mat-form-field>
          </div>
        </div>
      </form>
    </ng-container>
    <h1>{{"application_info_position"|translate}}</h1>
    <ng-container *ngIf="true">
      <div class="table-container">
        <app-overlay-spinner [show]="false"></app-overlay-spinner>
        <app-position-table [dataSource]="positions" [selection]="positionSelectionModel" [multipleSelection]="false"></app-position-table>
      </div>
    </ng-container>
  <h1>{{"application_info_candidate"|translate}}</h1>
    <ng-container *ngIf="true">
      <div class="table-container">
        <app-overlay-spinner [show]="false"></app-overlay-spinner>
        <app-candidate-table [dataSource]="candidates" [selection]="candidateSelectionModel" [multipleSelection]="false"></app-candidate-table>
      </div>
    </ng-container>

  </div>
